@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	background: DarkGray;
}

#content_wrapper {
	background: transparent;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 30px #888888;
}

.input-wrapper {
	width: 100%;
	height: 10%;
}

.guid {
	width: 70%;
	height: 100%;
	background: #EE7600;
	float: left;
}

.guid .text {
	width: 20%;
	height: 100%;
	font-size: 3.5vw;
}

.guid input[type="text"] {
	width: 80%;
	height: 100%;
	font-size: 3.5vw;
}

button.submit {
	width: 30%;
	height: 100%;
	float: right;
	font-size: 3.5vw;
}
.inputdate
{
	width:100%;
	height: 100%;
	font-size: 3.5vw;
}

.result-wrapper {
	width: 100%;
	height: 80%;
	margin-top: 0;
	background: transparent;
}

.loader {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-image: url('loader.svg');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}